/modeloapp/__pycache__/*
/apps/categories/__pycache__/*
/apps/categories/migrations/* 
.env
/apps/products/__pycache__/*
/apps/products/migrations/* 
/apps/persons/__pycache__/*
/apps/persons/migrations/*
/apps/socialnetworks/__pycache__/*
/apps/socialnetworks/migrations/* 
