/modeloapp/__pycache__/*
/apps/categories/__pycache__/*
/apps/categories/migrations/* 
.env
/apps/products/__pycache__/*
/apps/products/migrations/* 
/apps/persons/__pycache__/*
/apps/persons/migrations/*
/apps/socialnetworks/__pycache__/*
/apps/socialnetworks/migrations/* 
/apps/clients/__pycache__/*
/apps/clients/migrations/*
/apps/employees/__pycache__/*
/apps/employees/migrations/*
/apps/orders/__pycache__/*
/apps/orders/migrations/*
/apps/orderitems/__pycache__/*
/apps/orderitems/migrations/*
/apps/invoices/__pycache__/*
/apps/invoices/migrations/*